* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #1e1e2e;
}

header {
    background-color: #1a1a27;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    /* Centraliza os itens no meio */
    align-items: center;
    z-index: 99;
}

.navbar {
    display: flex;
    gap: 3rem;
    /* Ajusta a distância entre os links */
}

.navbar a {
    margin-left: 14%;
    color: #1e88e5;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
    /* Adiciona um efeito ao passar o mouse */
}

.sidebar {
    position: fixed;
    top: 35px;
    left: 0; /* Adicionado */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na barra */
    width: 240px;
    height: 100vh;
    padding: 40px 15px 30px 15px;
    border-right: 5px solid #2c2c42;
    z-index: 98;
}

.logo-img {
    margin-left: 95px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 80%;
    max-width: 120px;
    object-fit: contain;
}



.sidebar button {
    width: 100%;
    background: transparent;
    border: 0;
    color: #1e88e5;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}


.sidebar button span {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar button :hover {
    color: #ffffff;
}

.sidebar button img {
    width: 42px;
    height: 42px;
}

.Sobre-div h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    text-align: left;
    color: #1e88e5;

}
.Sobre-div {
    position: absolute;
    margin-left: 21.5%;
    width: 70.5%;
    color: #1e88e5;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10%;
    margin-top: 100px;
}

.sobre-bloco {
    background-color: transparent   ;
    padding: 1px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.linha-divisoria {
    border: none;
    height: 4px; /* Espessura da linha */
    background-color:#2c2c42; /* Cor da linha */
    width: 102%; /* Largura total do container */
    margin-top: 40px; /* Ajuste de espaçamento */
}

.sobre-bloco p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    text-align: left;
    color: #a6a6a6;


}