* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #1e1e2e;
}

header {
    background-color: #1a1a27;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    /* Centraliza os itens no meio */
    align-items: center;
    z-index: 99;
}

.navbar {
    display: flex;
    gap: 3rem;
    /* Ajusta a distância entre os links */
}

.navbar a {
    margin-left: 14%;
    color: #1e88e5;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    text-decoration: none;
}

.navbar a:hover {
    color: #ffffff;
    /* Adiciona um efeito ao passar o mouse */
}

.sidebar {
    position: fixed;
    top: 35px;
    left: 0; /* Adicionado */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na barra */
    width: 240px;
    height: 100vh;
    padding: 40px 15px 30px 15px;
    border-right: 5px solid #2c2c42;
    z-index: 98;
}

.logo-img {
    margin-left: 95px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 80%;
    max-width: 120px;
    object-fit: contain;
}



.sidebar button {
    width: 100%;
    background: transparent;
    border: 0;
    color: #1e88e5;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}


.sidebar button span {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar button :hover {
    color: #ffffff;
}

.sidebar button img {
    width: 42px;
    height: 42px;
}


.container {
    color: #1e88e5;
    margin-top: 20px;
    margin-left: 43%;
    width: 400px;
    background-color: #2a2a3a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.config-item {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.salvar, .redefinir-progresso, .excluir-conta {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Botão de salvar */
.salvar {
    background: #1e88e5;
    color: white;
}

.salvar:hover {
    background: #005bb5;
}

.excluir-conta:hover {
    background: #b71c1c;
}

.voltar {
    margin-left: 38%;
    margin-top: 10px;
    padding: 10px 15px;
    background: #1e88e5;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

.voltar:hover {
    background: #005bb5;
}